* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    background-color: #f5f5f5;
    font-family: "Space Grotesk", sans-serif;
    font-size: 15px;
}

input, select, button {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600; 
}

#root-container {
    background: #797A7E;
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* 제목 */
h1 {
    color: #F7F2E7;
    margin-bottom: 5%;
    
    /* 16*3=48px */
    font-size: 3rem;
    letter-spacing: -0.02em;
    font-weight: bold;

    /* 선 길이를 글자 길이에 맞춤 */
    display: inline-block; 
    position: relative;
    padding-bottom: 10px;
    cursor: default;
}

h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #E0ECE4;
    /* 왼쪽에서 오른쪽으로 나타나는 애니메이션 */
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
}

/* 마우스 올리면 선 나타남 */
h1:hover::after {
    transform: scaleX(1);
}

/* 기본 안내 */
p {
    font-size: 20px;
    font-weight: bold;
    cursor: default;
}


/* select,option */
select {
    padding: 15px;
    width: 250px;
    border-radius: 15px;
    margin-bottom: 2%;
    text-align: center;
    background-color: inherit; 
    color: #F7F2E7; 
    border: 1px solid rgba(250, 206, 104, 0.3);
    font-weight: bold;
    font-size: 18px;
    outline: none;
    cursor: pointer;

    /* 브라우저 기본 화살표 제거 */
    appearance: none; 
}

select:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border-color: #F7F2E7;
}



/* container */
.converter-container {
    background-color: #E0ECE4; 
    padding: 30px;
    border-radius: 15px;
    
    /* 크기 고정 */
    min-width: 500px;   
    min-height: 250px;  
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* button */
.button-group {
    display: flex;
    gap: 15px;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #D6D2C4;
    color: black;
    font-weight: bold;
}

button:hover { opacity: 0.9; }


/* input */
input {
    padding: 12px; 
    border-radius: 5px;
    border: none;
    width: 180px;
    outline: none;
    background-color: #F7F2E7;
    font-weight: bold;
}

input:disabled {
    background-color: #797A7E;
    color: #f2f2f2b4;
    cursor: not-allowed;
}

/* input 나란히 / 간격 */
.converter-row {
    display: flex;
    align-items: flex-end;
    gap: 15px;
    margin-bottom: 25px; 
}
/* input과 label 간격 */
.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-group label {font-weight: bold;}